<div class="jumbotron">
    <div class="container">
        <h1>Hello World!</h1>
        <p>Running this with 'webpack-dev-server'? Changes in your source files should reload this page...</p>
        <hr>
        <h3>Featuring:</h3>
        <br />
        <ul>
                <li><p>AngularJS + ui.bootstrap + ui.router</p></li>
                <li><p>Component based architecture</p></li>
        <li><p>Font-awesome</p></li>
        <li><p>Webpack</p></li>
        <p class="text-right">
            <a class="btn btn-primary btn-lg" ui-sref="menu1" role="button">Navigate with ui-sref to menu1</a>
        </p>
    </ul>
    </div>
</div>
<div class="container">
    <div class="row text-justify">
        <div class="col-md-4">
            <h2>
                <i class="fas fa-lock"></i> Element's title</h2>
            <p class="about-container">Dashboard element sample</p>
        </div>

        <div class="col-md-4">
            <h2>
                <i class="fas fa-copy"></i> Element's title</h2>
            <p class="about-container">Dashboard element sample</p>
        </div>

        <div class="col-md-4">
            <h2>
                <i class="fab fa-github"></i> Collaboration</h2>
            <p class="about-container">You can collaborate with this boilerplate in
                <a href="https://github.com/elyogs/angular-webpack-seed">GIT</a>.</p>
        </div>
    </div>
</div>