<div class="jumbotron">
    <div class="container">
        <h1>Hello world!</h1>
    </div>
</div>
<div class="container">
    <div class="row text-justify">
        <div class="col-md-4">
            <h2>
                <i class="fas fa-lock"></i>Element's title</h2>
            <p class="about-container">Dashboard element sample</p>
        </div>

        <div class="col-md-4">
            <h2>
                <i class="fas fa-copy"></i>Element's title</h2>
            <p class="about-container">Dashboard element sample</p>
        </div>

        <div class="col-md-4">
            <h2>
                <i class="fab fa-github"></i>Collaboration</h2>
            <p class="about-container">You can collaborate with this boilerplate in
                <a href="https://github.com/elyogs/angular-webpack-seed">GIT</a>.</p>
        </div>
    </div>
</div>