<!doctype html>
<html lang="en" ng-app="root">

<head>
    <meta charset="UTF-8">
    <title>Web title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="This is a short sentence to help search engines index your site">
    <meta name="keywords" content="write, some, keywords, separated, by, comma, here">
    <meta name="robots" content="index, follow">
    <meta name="web_author" content="@you">
    <meta name="language" content="en-US">
    
    <!-- NOTE: base tag href value must match the directory holding the index file.
    This is normally href='/' in a production enviroment. Use href='/dist/' if you want to 
    deploy your dist folder as is in your local webserver (Apache, Nginx, Tomcat...) -->
    <base href="/"></base>

    <!-- Scripts for using FontAwesome -->
    <script defer src="js/vendor/all.js"></script>
    <script defer src="js/vendor/v4-shims.js"></script>

</head>

<body>
    <root></root>
</body>

</html>